#IG_Logo {
	height: 50px;
	widows: 50px;
}
#AUA_Logo {
	height: 50px;
	widows: 50px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: black;
  background: linear-gradient(rgba(252, 174, 111, 0.719), rgb(125, 134, 235));
  border-radius: 15px;
  
}

button:hover {
	background: linear-gradient(#e66465, #fcfcfc );
}
